services:
  api:
    image: yetiasg/one-rail-recruitment-task-api:latest
    restart: always
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      PORT: 3000

      # Database
      DB_HOST: db
      DB_PORT: 3306
      DB_NAME: one_rail
      DB_USER: app
      DB_PASSWORD: app

      # Redis
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_USER: default
      REDIS_PASSWORD: ne4ezh6sgjnf798dk7cfayjs

      CORS_ORIGINS: "*"
      LOG_LEVEL: info
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy

  db:
    image: mysql:8.1
    restart: always
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
    volumes:
      - .volumes/one-rail-db:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: one_rail
      MYSQL_USER: app
      MYSQL_PASSWORD: app

  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"
    command:
      - redis-server
      - --loglevel
      - warning
      - --save
      - "60"
      - "1"
      - --user
      - default
      - "on"
      - ">ne4ezh6sgjnf798dk7cfayjs"
      - "~*"
      - "+@all"
    healthcheck:
      test:
        [
          "CMD",
          "redis-cli",
          "--user",
          "default",
          "--pass",
          "ne4ezh6sgjnf798dk7cfayjs",
          "ping",
        ]
      interval: 5s
      timeout: 3s
      retries: 20
    volumes:
      - .volumes/redis:/data

  redis-commander:
    image: rediscommander/redis-commander:latest
    restart: always
    environment:
      - REDIS_HOSTS=local:redis:6379:0:ne4ezh6sgjnf798dk7cfayjs
      - REDIS_USERNAME=default
    ports:
      - "8081:8081"
    depends_on:
      redis:
        condition: service_healthy
